/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.bloc1 {
    height: 100%;
    width: 90%;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.itemGroupBloc1 {
    width: 100%;
}

.squareBloc1 {
    width: 50%;
    float: left;
}

.squareBloc1s {
    width: 50%;
    float: left;
}
.titleBloc1 {
    font-size: 5vw;
    font-weight: bold;
    margin-top: 16%;
}

.buttonLearnMore {

    background-color: #ff76f5 !important;
    border-color: #ff76f5 !important;
    color: white;
    box-shadow:
            rgb(255, 220, 26)
            -3px 3px 0
            0px /* spread */;
    width: auto;
    height: 50%;
    font-size: 3vw;
}

.bloc2 {
    height: 100%;
    width: 100%;
    display: flex;
}

.leftSideBloc2 {
    width: 50%;
    height: auto;
    padding-left: 20%;
    padding-right: 2%;
    display: flex;
    align-items: center;
    padding-bottom: 8%;
}

.itemGroupBloc2 {
    width: 100%;
    height: auto;
}

.titleBloc2 {
    font-size: 3vw;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5%;
}

.titleColoredBloc2 {
    color: deeppink;
    font-size: 3vw;
    font-weight: bold;
    width: 100%;
}

.textBloc2 {
    width: 100%;
    color: #d2d2d2;
    font-size: 1vw;
}

.listBloc2 {
    width: 100%;
    margin-top: 5%;
    font-weight: bold;
}

ul {list-style: none}
li::before {content: "•"; color: deeppink;
    display: inline-block; width: 1em;
    margin-left: -3em}

.linkBloc2 {
    font-weight: bold;
    margin-top: 10%;
    color: black;
    text-decoration: none;
    width: auto;
    border-bottom: 10px solid yellow;

}

.itemListBloc2 {
    margin-bottom: 5%;
}

.rightSideBloc2 {
    width: 40%;
    padding-bottom: 8%;
}

.squareBloc2 {
    display: flex;
    width: 60%;
    height: 100%;
    margin-left: 10%;
    margin-right: auto;
    align-items: center;
}

.bloc3 {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.titleBloc3 {
    text-align: center;
    margin-bottom: 2%;
    font-weight: bold;
    color: deeppink;
}

.textBloc3 {
    text-align: center;
    margin-bottom: 2%;
    font-size: 2vw;
    font-weight: bold;
    color: black;
}

.itemGroupBloc3 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    max-width: 1000px;
    width: auto;
}

.squareTitle {
    width: 100%;
    text-align: left;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1vw;
    color: black;
    padding-left: 16px;
}

.squareText {
    width: 100%;
    color: gray;
    text-align: left;
    padding-left: 16px;
}

.left {
    width: auto;
    padding-right: 1%;
}


.middle {
    width: auto;
    padding-right: 1%;
    padding-left: 1%;
}

.right {
    width: auto;
    padding-left: 1%;
}






